<a href="https://colab.research.google.com/github/NicoGangi5/Scalable_Machine_Learning_on_Big_Data_using_Apache_Spark/blob/main/W2_Ejercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

In [ ]:
!pip install pyspark==2.4.5

Requirement already satisfied: pyspark==2.4.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pyspark==2.4.5) (0.10.7)

In [ ]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [ ]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [ ]:
def gt50(i):
    return i > 50

In [ ]:
print(gt50(4))
print(gt50(51))

False
True

In [ ]:
gt50 = lambda i: i > 50

In [ ]:
print(gt50(4))
print(gt50(51))

False
True

In [ ]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

In [ ]:
rdd.filter(gt50).collect()

[84,
 56,
 59,
 54,
 90,
 83,
 61,
 77,
 69,
 99,
 62,
 81,
 93,
 94,
 78,
 63,
 91,
 65,
 79,
 66,
 64,
 70,
 57,
 51,
 98,
 80,
 52,
 76,
 87,
 74,
 75,
 55,
 60,
 67,
 85,
 92,
 88,
 89,
 95,
 73,
 86,
 53,
 58,
 71,
 82,
 96,
 97,
 68,
 72]

In [ ]:
rdd.filter(lambda i: i > 50).collect()

[84,
 56,
 59,
 54,
 90,
 83,
 61,
 77,
 69,
 99,
 62,
 81,
 93,
 94,
 78,
 63,
 91,
 65,
 79,
 66,
 64,
 70,
 57,
 51,
 98,
 80,
 52,
 76,
 87,
 74,
 75,
 55,
 60,
 67,
 85,
 92,
 88,
 89,
 95,
 73,
 86,
 53,
 58,
 71,
 82,
 96,
 97,
 68,
 72]

In [ ]:
rdd.filter(lambda x: x > 50).filter(lambda x: x < 75).sum()

1500